#navigation-bar {
  height: 60px;
  background: #313131;
  font-size: 22px;
  font-family: 'Gill Sans', sans-serif;
  color: white; 
}

#navigation-bar .row {
  height: 100%;
}

#navigation-bar img {
  height: 100%;
  cursor: pointer;
}

#navigation-bar #logo {
  padding: 10px 0;
  margin-bottom: 0;
  display: inline-block;
  left: 15px;
}

#navigation-bar #logo-title {
  padding: 10px 0;
  margin-top: 5px;
  display: inline-block;
  /* font-family: 'Gaegu', sans-serif; */
}

#navigation-bar #nav-links {
  padding: 10px 0;
  margin-top: 20px;
  display: inline-block;
}
  
#navigation-bar #nav-links p{
  font-size: 0.6em;
  font-style: italic;
  color: white;  
  float: right;
  transform: translate(-50%, -50%);
  /* right: 15px;
  position: absolute; */
}

#container-main #sidebar {
  background: #5d5d5d;
  /* height: 100vh; */
  padding: 15px 10px 0px 10px;
  color: white;
  text-decoration: none;
}

#sidebar a {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 244, 86);
}

#container-main #contents {
  min-height: 95vh;
  padding: 15px;
  position: relative;
}

#container-main #contents #search {
  height: 7vh;
  padding: 10px 15px;
  position: relative;
}
#container-main #contents #product {
  height: 10vh;
  padding: 15px;
  position: relative;
}

#container-main #contents .date {
  line-height: 2;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

/* form-validation */
.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }


/* Syntax highlighting for JSON objects */
ul.json-dict, ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted slategray;
  padding-left: 2em;
}
.json-string {
  color: #313131;
}
.json-literal {
  color: #f48d0c;
  font-weight: bold;
}

/* Toggle button */
a.json-toggle {
  position: relative;
  color: inherit;
  text-decoration: none;
}
a.json-toggle:focus {
  outline: none;
}
a.json-toggle:before {
  color: #aaa;
  content: "\25BC"; /* down arrow */
  position: absolute;
  display: inline-block;
  width: 1em;
  left: -1em;
}
a.json-toggle.collapsed:before {
  transform: rotate(-90deg); /* Use rotated down arrow, prevents right arrow appearing smaller than down arrow in some browsers */
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

/* Collapsable placeholder links */
a.json-placeholder {
  color: #aaa;
  padding: 0 1em;
  text-decoration: none;
}
a.json-placeholder:hover {
  text-decoration: underline;
}